<!--Vista de ordenador-->
<div [hidden]="isTooSmall">
<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar class="boxShadow">
        <img src="../../../assets/2024_Summer_Olympics_text_logo.svg.png">
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col class="tabs" size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(1)" (click)="setActiveTab(1)">
            <ion-card class="ion-text-center tabs" color="primary" [class.active]="selectedTab == 1">
              <ion-icon name="home-outline" size="large"></ion-icon>
              <ion-card-content>
                Inicio
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="tabs" size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(4)" (click)="setActiveTab(4)">
            <ion-card class="ion-text-center tabs" color="primary" [class.active]="selectedTab == 4">
              <ion-icon name="notifications-outline" size="large"></ion-icon>
              <ion-card-content>
                Notificaciones
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="tabs" size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(2)" (click)="setActiveTab(2)">
            <ion-card class="ion-text-center tabs" color="primary" [class.active]="selectedTab == 2">
              <ion-icon name="card-outline" size="large"></ion-icon>
              <ion-card-content>
                Comprar
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="tabs" size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(3)" (click)="setActiveTab(3)">
            <ion-card class="ion-text-center tabs" color="primary" [class.active]="selectedTab == 3">
              <ion-icon name="cart-outline" size="large"></ion-icon>
              <ion-card-content>
                Carrito
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-col size="12" size-md="12" size-lg="6" size-xl="6"></ion-col>
      </ion-grid>
    </ion-content>

    <ion-footer>
      <button class="button" (click)="selectedOption(5)">
        <span class="button-decor"></span>
        <div class="button-content">
            <div class="button__icon">
              <ion-icon name="card-outline"></ion-icon>
            </div>
            <span class="button__text">Pago</span>
        </div>
      </button>
      <button class="button" (click)="logout()">
        <span class="button-decor"></span>
        <div class="button-content">
            <div class="button__icon">
              <ion-icon name="exit-outline"></ion-icon>
            </div>
            <span class="button__text">Cerrar sesion</span>
        </div>
      </button>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-content class="ion-padding">
        <app-event-details *ngIf="optionSelected === 0"></app-event-details>
        <app-timer *ngIf="optionSelected === 1"></app-timer>
        <app-events-page *ngIf="optionSelected === 2"></app-events-page>
        <app-notis *ngIf="optionSelected === 4"></app-notis>
        <app-card-payment *ngIf="optionSelected === 5"></app-card-payment>
        <app-carrito *ngIf="optionSelected === 3"></app-carrito>
    </ion-content>
    <app-spinner *ngIf="isBusy" class="position-absolute top-50 start-50 translate-middle"></app-spinner>
  </div>
</ion-split-pane>
</div>
<!--Vista de movil-->
<div [hidden]="!isTooSmall">
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="boxShadow">
      <img src="../../../assets/2024_Summer_Olympics_text_logo.svg.png">
    </ion-toolbar>
  </ion-header> <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col class="tabs" size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(1)" (click)="setActiveTab(1)">
          <ion-card class="ion-text-center tabs" [class.active]="selectedTab == 1">
            <ion-icon name="home-outline" size="large"></ion-icon>
            <ion-card-content>
              Inicio
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(4)" (click)="setActiveTab(4)">
          <ion-card class="ion-text-center tabs" [class.active]="selectedTab == 4">
            <ion-icon name="notifications-outline" size="large"></ion-icon>
            <ion-card-content>
              Notis
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="true"><!--isPurchasePeriod-->
        <ion-col size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(2)" (click)="setActiveTab(2)">
          <ion-card class="ion-text-center tabs" [class.active]="selectedTab == 2">
            <ion-icon name="card-outline" size="large"></ion-icon>
            <ion-card-content>
              Comprar
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="12" size-lg="6" size-xl="6" (click)="selectedOption(3)" (click)="setActiveTab(3)">
          <ion-card class="ion-text-center tabs" [class.active]="selectedTab == 3">
            <ion-icon name="cart-outline" size="large"></ion-icon>
            <ion-card-content>
              Carrito
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-col size="12" size-md="12" size-lg="6" size-xl="6"></ion-col>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <button class="button" (click)="selectedOption(5)">
      <span class="button-decor"></span>
      <div class="button-content">
          <div class="button__icon">
            <ion-icon name="card-outline"></ion-icon>
          </div>
          <span class="button__text">Pago</span>
      </div>
    </button>
    <button class="button" (click)="logout()">
      <span class="button-decor"></span>
      <div class="button-content">
          <div class="button__icon">
            <ion-icon name="exit-outline"></ion-icon>
          </div>
          <span class="button__text">Cerrar sesion</span>
      </div>
    </button>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-event-details *ngIf="optionSelected === 0"></app-event-details>
    <app-timer *ngIf="optionSelected === 1"></app-timer>
    <app-events-page *ngIf="optionSelected === 2"></app-events-page>
    <app-notis *ngIf="optionSelected === 4"></app-notis>
    <app-card-payment *ngIf="optionSelected === 5"></app-card-payment>
    <app-carrito *ngIf="optionSelected === 3"></app-carrito>
  </ion-content>
  <app-spinner *ngIf="isBusy" class="position-absolute top-50 start-50 translate-middle"></app-spinner>
</div>
</div>
