<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <img src="../../../assets/2024_Summer_Olympics_text_logo.svg.png">
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col (click)="selectedOption(1)"><ion-icon name="home-outline"></ion-icon>  Inicio</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row *ngIf="isPurchasePeriod">
          <ion-col></ion-col>
          <ion-col (click)="selectedOption(2)"><ion-icon name="card-outline"></ion-icon>  Comprar</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row *ngIf="isPurchasePeriod">
          <ion-col></ion-col>
          <ion-col (click)="selectedOption(2)"><ion-icon name="cart-outline"></ion-icon> Carrito</ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col (click)="selectedOption(2)"><ion-icon name="notifications-outline"></ion-icon> Notis</ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <button class="button" (click)="logout()">
        <span class="button-decor"></span>
        <div class="button-content">
            <div class="button__icon">
              <ion-icon name="exit-outline"></ion-icon>
            </div>
            <span class="button__text">Cerrar sesion</span>
        </div>
    </button>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-content class="ion-padding">
        <app-timer *ngIf="optionSelected === 1"></app-timer>
    </ion-content>

  </div>
</ion-split-pane>
<app-notifications></app-notifications>
