.grid-container {
    height: 100%;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
    overflow-y: auto;
}

.grid-container ion-row {
    min-height: 74svh;
    width: 100%;
}

.grid-container ion-row ion-col {
    color: black;
    width: 100%;
}

.card {
 
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15) !important;
    min-height: 100%;
    padding: 16px;
}

#timer-container {
    display: flex;
}

.card ion-card-header {
    box-shadow: 0 1px 0 0 #d7c378;
}

.card ion-card-content {
    margin-top: 10px;
}

.grid-container ion-row .notifications {
    text-align: start !important;
    height: fit-content;
    color: black;
    text-align: center;
    box-shadow: none !important;
}