$content-width: calc(90vw - 2 * 1.25rem);
$margin: 1.25rem;
$spacing: 1rem;
$bdrs: 0.5rem;
$circle-size: 2.5rem;
$icon-size: 3rem;
$bdrs-icon: 100%;
$spacing: 1.25rem;
$bdrs: 0.5rem;
$circle-size: 2.5rem;
$icon-size: 3rem;
$bdrs-icon: 100%;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;
$color7: #7f5af0;

* {
  box-sizing: border-box;
}

.timeline__event {
  opacity: 1;
  transition: opacity 1s ease-in-out;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.timeline__event.visible {
  opacity: 1;
}

.timeline {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    border-radius: $bdrs;
    align-self: center;
    width: 50vw;

    @media screen and (max-width: 767px) {
      width: calc(100% - 2 * $spacing);
      margin: $spacing auto;
      flex-direction: row;
        .timeline__event__date {
          border-radius: 0 $bdrs $bdrs 0;
        }
        .timeline__event__content {
          width: calc(100% - 2 * #{$spacing});
          border-radius: $bdrs 0 0 $bdrs;
        }

        .timeline__event__icon {
          &:before {
            content: "";
            width: 0.125rem;
            height: 100%;
            background: $color2;
            position: absolute;
            top: 0%;
            left: 50%;
            right: auto;
            z-index: -1;
            transform: translateX(-50%);
            animation: fillTop 2s forwards 4s ease-in-out;
          }
          &:after {
            content: "";
            width: 100%;
            height: 0.125rem;
            background: $color2;
            position: absolute;
            right: 0;
            z-index: -1;
            top: 50%;
            left: auto;
            transform: translateY(-50%);
            animation: fillLeft 2s forwards 4s ease-in-out;
          }
        }

      &:nth-child(2n + 1) {
        width: calc(100% - 2 * $spacing);
        flex-direction: row-reverse;
      }
    }
    @media screen and (min-width: 767px) {
      margin: $margin 0;
      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
        .timeline__event__date {
          border-radius: 0 $bdrs $bdrs 0;
        }
        .timeline__event__content {
          width: calc(100% - 2 * #{$spacing});
          border-radius: $bdrs 0 0 $bdrs;
        }

        .timeline__event__icon {
          &:before {
            content: "";
            width: 0.125rem;
            height: 100%;
            background: $color2;
            position: absolute;
            top: 0%;
            left: 50%;
            right: auto;
            z-index: -1;
            transform: translateX(-50%);
            animation: fillTop 2s forwards 4s ease-in-out;
          }
          &:after {
            content: "";
            width: 100%;
            height: 0.125rem;
            background: $color2;
            position: absolute;
            right: 0;
            z-index: -1;
            top: 50%;
            left: auto;
            transform: translateY(-50%);
            animation: fillLeft 2s forwards 4s ease-in-out;
          }
        }
      }
    }

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;
      text-transform: uppercase;
      font-weight: 600;
      color: $color1;
      letter-spacing: 0.0938rem;
    }
    &__content {
      padding: $spacing;
      box-shadow: 0 1.875rem 3.75rem -0.75rem rgba(50, 50, 93, 0.25),
        0 1.125rem 2.25rem -1.125rem rgba(0, 0, 0, 0.3),
        0 -0.75rem 2.25rem -0.5rem rgba(0, 0, 0, 0.025);
      background: #fff;
      width: $content-width;
      border-radius: 0 $bdrs $bdrs 0;
      color: black;
    }
    &__date {
      color: $color2;
      font-size: 1.5rem;
      font-weight: 600;
      background: $color1;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color1;
      padding: $spacing;
      align-self: center;
      margin: 0 $spacing;
      background: $color2;
      border-radius: $bdrs-icon;
      width: $circle-size;
      box-shadow: 0 1.875rem 3.75rem -0.75rem rgba(50, 50, 93, 0.25),
        0 1.125rem 2.25rem -1.125rem rgba(0, 0, 0, 0.3),
        0 -0.75rem 2.25rem -0.5rem rgba(0, 0, 0, 0.025);
      padding: 2.5rem;
      height: $circle-size;
      position: relative;

      i {
        font-size: $icon-size;
      }

      &:before {
        content: "";
        width: 0.125rem;
        height: 100%;
        background: $color2;
        position: absolute;
        top: 0%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 2s forwards 4s ease-in-out;
      }
      &:after {
        content: "";
        width: 100%;
        height: 0.125rem;
        background: $color2;
        position: absolute;
        left: 0%;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        animation: fillLeftOdd 2s forwards 4s ease-in-out;
      }
    }
    &__description {
      flex-basis: 60%;
    }

    &--type2 {
      &:after {
        background: $color4;
      }
      .timeline__event__date {
        color: $color3;
        background: $color4;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color3;
          }
        }
      }

      .timeline__event__icon {
        background: $color3;
        color: $color4;
        &:before,
        &:after {
          background: $color3;
        }
      }
      .timeline__event__title {
        color: $color4;
      }
    }

    &--type3 {
      &:after {
        background: $color5;
      }
      .timeline__event__date {
        color: $color6;
        background-color: $color5;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color6;
          }
        }
      }

      .timeline__event__icon {
        background: $color6;
        color: $color5;
        &:before,
        &:after {
          background: $color6;
        }
      }
      .timeline__event__title {
        color: $color5;
      }
    }

    &--type4 {
      &:after {
        background: $color7;
      }
      .timeline__
      &--type4 {
        &:after {
          background: $color7;
        }
        .timeline__event__date {
          color: $color2;
          background-color: $color7;
        }

        &:nth-child(2n + 1) {
          .timeline__event__icon {
            &:before,
            &:after {
              background: $color2;
            }
          }
        }

        .timeline__event__icon {
          background: $color2;
          color: $color7;
          &:before,
          &:after {
            background: $color2;
          }
        }
        .timeline__event__title {
          color: $color7;
        }
      }

      &:last-child {
        .timeline__event__icon {
          &:before {
            content: none;
          }
        }
      }
    }
  }

  .timeline__event__icon ion-icon {
    position: absolute;
    font-size: $icon-size;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  .button {
    --clr: #9251ac;
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;

    &-decor {
      position: absolute;
      inset: 0;
      background-color: var(--clr);
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: 0;
    }

    &-content {
      display: flex;
      align-items: center;
      font-weight: 600;
      position: relative;
      overflow: hidden;
    }

    &__icon {
      width: 48px;
      height: 40px;
      background-color: var(--clr);
      display: grid;
      place-items: center;
    }

    &__text {
      display: inline-block;
      transition: color 0.2s;
      padding: 2px 1.5rem 2px;
      padding-left: 0.75rem;
      overflow: hidden;
      white-space: wrap;
      text-overflow: ellipsis;
    }

    &:hover .button__text {
      color: #fff;
    }

    &:hover .button-decor {
      transform: translate(0);
    }
  }
}

.button__icon{
  font-size: 20px;
  color: white;

}

@media (max-width: 767px) {
  .timeline__event__icon {
    padding: 1rem;
  }

  .timeline__event__date {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .timeline__event__content {
    width: $content-width;
    padding: $spacing;
  }

  .timeline__event__title {
    font-size: 1rem;
  }
  .button {
    width: calc(100% - 2 * $spacing);
    position: none !important;
    &__icon {
      width: 48px;
      height: 40px;
    }

    &__text {
      padding: 2px 0px 2px !important;
      padding-left: 0.75rem !important;
    }
  }
}
