.cart-item-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000; /* Cambia el color de fondo según tus preferencias */
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 12px;
  }