<ion-header>
  <div id="navbar">
    <a href="/home" id="logo"><img src="../../../assets/logo.png" alt="logo pagina"></a>
    <div id="navbar-right">
      <button *ngIf="auth.user$ | async" (click)="logout()">
        <span class="button_top">
          Cerrar sesión
        </span>
      </button>
      <button *ngIf="(auth.user$ | async) === null" (click)="loginWithRedirect()">
        <span class="button_top">
          Iniciar sesión
        </span>
      </button>
    </div>
  </div>
</ion-header>
<div id="container">
  <ion-router-outlet></ion-router-outlet>
</div>
