<ion-header>
  <div id="navbar">
    <a href="#default" id="logo"><img src="../../../assets/logo.png" alt="logo pagina"></a>
    <div id="navbar-right">
      <button *ngIf="auth.isAuthenticated$ | async;" (click)="logout()">
        <span class="button_top">
          Logout
        </span>
      </button>
      <button *ngIf="(auth.isAuthenticated$ | async) === false" (click)="loginWithRedirect()">
        <span class="button_top">
          Login
        </span>
      </button>
      <!--
      <button>
        <span class="button_top"> Register
        </span>
      </button>
      -->
    </div>
  </div>
</ion-header>
<div class="container">
  <ion-router-outlet></ion-router-outlet>
</div>
