<div id="timer">
  <div>
    <p><ion-icon name="time-outline"></ion-icon> {{forWhatText}}</p>
    <h1 *ngIf="finished">Esperemos que haya disfrutado de su compra</h1>
    <div *ngIf="!finished"><strong>{{ time.days }}</strong> <span>Días</span></div>
    <div *ngIf="!finished"><strong>{{ time.hours }}</strong> <span>Horas</span></div>
    <div *ngIf="!finished"><strong>{{ time.minutes }}</strong> <span>Minutos</span></div>
    <div *ngIf="!finished"><strong>{{ time.seconds }}</strong> <span>Segundos</span></div>
  </div>
  <button *ngIf="userPage.isPurchasePeriod" class="buy-button">
    <p class="text-buy-button">Pantalla de compra</p>
    <ion-icon name="arrow-forward-outline" color="secondary" size="small"></ion-icon>
  </button>
</div>
<app-event-item></app-event-item>