#timer {
	font-size: 3.5em;
	font-weight: 100;
	color: black; 
    height: fit-content;
	width: 100%;
}

#timer div {
	display: inline-block;
	min-width: 90px;
	padding: 15px;
	border-radius: 10px;
	margin: 15px;
}

#timer div span {	
	color: black;
	display: block;
	margin-top: 15px;
	font-size: .35em;
	font-weight: 400;
}