#timer {
	font-size: 3em;
	font-weight: 100;
	color: #171717;
	padding: 20px;
    height: 100%;
	width: 100%;
	color: #171717;
}

#timer div {
	display: inline-block;
	min-width: 90px;
	padding: 15px;
	border-radius: 10px;
	margin: 15px;
}
#timer div span {
	color: #171717;
	display: block;
	margin-top: 15px;
	font-size: .35em;
	font-weight: 400;
}