<div class="container">
  <section class="h-100 h-custom justify-content-center align-items-center">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card col-6 m-auto">
            <div class="card-body p-4">
              <div class="col-12">
                <div class="card bg-body-secondary rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Detalles de la tarjeta</h5>
                    </div>

                    <form class="mt-4">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg"
                          placeholder="Nombre del titular" />
                        <label class="form-label" for="typeName">Nombre del titular</label>
                      </div>

                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input type="text" id="typeText" class="form-control form-control-lg"
                          placeholder="1234123412341234" minlength="16" maxlength="16" />
                        <label class="form-label" for="typeText">Número de tarjeta</label>
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div data-mdb-input-init class="form-outline form-white">
                            <input type="text" id="typeExp" class="form-control form-control-lg"
                              placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />
                            <label class="form-label" for="typeExp">Caducidad</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div data-mdb-input-init class="form-outline form-white">
                            <input type="password" id="typeText" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            <label class="form-label" for="typeText">CVV</label>
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex ion-justify-content-center mb-4">
                      <b><p class="mb-2">Total:</p></b>
                      <p class="mb-2 mx-1">$4818.00</p>
                    </div>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg d-table m-auto">
                      <div class="d-flex justify-content-between">
                        <span>Pagar</span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>