<ion-content color="light">
  <ion-card  *ngIf="(notifications | async) === null">
    <ion-card-content>
      <ion-icon name="warning-outline" color="warning" size="large"></ion-icon>
      <p class="no-notifications-message">No hay notificaciones</p>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true" *ngIf="(notifications | async) !== null">
    <ion-item *ngFor="let notificacion of notifications | async" [ngClass]="{'unread-item': !notificacion.is_readed}">
      <ion-label (click)="showAlert('present-alert', notificacion.id)">
        <h1><ion-icon name="notifications-circle-outline" color="warning"></ion-icon> {{notificacion.subject}}</h1>
        <p>{{notificacion.short_text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
