<ion-content color="light">
  <ion-card>
    <ion-card-content>
      <ion-icon name="warning-outline" color="warning" size="large"></ion-icon>
      <p class="no-notifications-message">No hay notificaciones</p>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label (click)="showAlert('present-alert')">Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item [ngClass]="{'unread-item': isUnread}">
      <ion-label>
        <h1>Prueba</h1>
        <p>A message should be a short, complete sentence.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
