.img{
    width: 8vw;
    height: 8vw;
    display: block;
    margin: 0;
    padding: 0;
}
.imgIcon{
    width: 3vw;
    height: 3vw;
    margin-left: 3vw;
}
ul{
    display: flex;
    margin-top: 0vw;
    margin-bottom: 0;
    padding-left: 0;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
}
a{
    margin-left: 0.5vw;
    text-decoration: none;
}

*{
    background-color: white;
}